mark {
  background-color: lightblue;
  color: navy;
  font-weight: bold;
}

#draggableIframeWrapper {
    box-sizing: initial;

    position: absolute;
    background-color: #bababa;

    bottom: 0%;
    left: 40%;

    width: 500px;
    height: 600px;
    z-index: 200;

    border-radius: 0px 0px 25px 25px;
    box-shadow: 5px 5px 15px 5px rgba(0, 0, 0, 0.5);
}

#topBar {
    box-sizing: initial;

    display: flex;
    align-items: center;
    justify-content: space-between;

    position: absolute;
    width: 86%;
    right: 4%;
    top: -10%;

    padding: 0% 5%;

    background-color: #bababa;
    border-radius: 25px 25px 0px 0px;
}

#ai-icon {
    width: 64px;
}

#dragIconImg {
    width: 48px;
}

#closeBtn {
    box-sizing: initial;

    width: 16px;
    height: 16px;
    padding: 15px;
    background-color: rgb(78, 78, 78);
    border-radius: 25px;
}

#closeBtn::before {
    content: '';
    position: absolute;
    width: 16px;
    height: 16px;
    background-color: red;
    clip-path: polygon(20% 0%, 0% 20%, 30% 50%, 0% 80%, 20% 100%, 50% 70%, 80% 100%, 100% 80%, 70% 50%, 100% 20%, 80% 0%, 50% 30%);
}

#closeBtn:hover {
    background-color: rgb(138, 138, 138);
    cursor: pointer;
}

#closeBtn:active {
    background-color: rgb(78, 78, 78);
    cursor: pointer;
    transform: scale(0.9);
}

#injected-iframe {
    box-sizing: initial;
    display: block;

    width: 100%;
    height: 100%;
    border: none;

    border-radius: 0px 0px 25px 25px;
}

#container {
    background-color: #bababa;
    pointer-events: unset;
}

#container-header {
    display: flex;
    justify-content: space-around;
    align-items: center;
    position: relative;
    background-color: #bababa;

    padding-top: 10px;

    border-bottom: 1.5px solid gray;

    user-select: none;
}

#title-header {
    text-align: center;
}

#ai-content {
    padding: 0px 20px 0px 20px;
    font-size: 1.1em;
    margin-bottom: 100px;
}


.disable-animations {
  animation: none !important;
}

.disable-element {
    display: none !important;
}

#original-text-title, #result-text-title {
    display: block;
    padding-bottom: 20px;
    font-weight: bold;
    font-size: 1.1em;
}

#original-text, #result-text {
    display: block;
    padding-bottom: 30px;
    margin-bottom: 25px;
    padding-left: 10px;
}


#prompt-results-area {
    display: flex;
    flex-direction: column;
    justify-content: flex-start;
    align-items: center;
    padding-top: 20px;
    min-height: 260px;
}

:root {
    --user-input-BC: #b7ff7c;
    --prompt-output-BC: #f7ff61;
}

.user-input-prompt {
    position: relative;
    width: 90%;
    height: fit-content;
    background-color: var(--user-input-BC);
    padding: 20px 10px;
    margin-left: 20px;
    margin-bottom: 40px;
    border-radius: 25px 25px 0px 25px;
}

.user-input-prompt::before {
    content: '';
    position: absolute;
    bottom: -20px;
    right: 0%;
    width: 40px;
    height: 30px;
    background-color: var(--user-input-BC);
    clip-path: polygon(0 0, 100% 100%, 100% 0);
}


.prompt-output {
    position: relative;
    width: 100%;
    height: fit-content;
    background-color: var(--prompt-output-BC);
    padding: 20px 10px;
    margin-right: 20px;
    margin-bottom: 40px;
    border-radius: 0px 25px 25px 25px;
    animation: colorPulse 1s infinite alternate;
}

.prompt-output::before {
    content: '';
    position: absolute;
    top: -20px;
    left: 0%;
    width: 40px;
    height: 30px;
    background-color: var(--prompt-output-BC);
    clip-path: polygon(0 100%, 100% 100%, 0 0);
}

@keyframes colorPulse {
    0% {
        --prompt-output-BC: #f5ff41;
    }   
    25% {
        --prompt-output-BC: #f8ff7b;    
    }
    50% {
        --prompt-output-BC: #faff9c;    
        
    }
    75% {
        --prompt-output-BC: #fcffbc;    
     
    }
    100% {
        --prompt-output-BC: #feffea;    
    }
}

#bottom-bar {
    position: sticky;
    bottom: 1%;
    width: 99%;
    font-size: 1.1em;
    background-color: #888888;
    border-radius: 25px;
}

#input-groups {
    display: flex;
    flex-direction: row;
    justify-content: space-between;
    align-items: center;
    padding-right: 1em;
}

#translator-input-gp {
    display: flex;
    flex-direction: row;
    justify-content: space-between;
    align-items: center;
    padding-left: 3em;
}

#rewriter-input-gp {
    display: flex;
    flex-direction: row;
    justify-content: space-between;
    align-items: center;
    padding-left: 0.5em;
    padding-right: 0.5em;
}

#writer-input-gp {
    display: flex;
    flex-direction: row;
    flex-wrap: wrap;
    justify-content: space-between;
    align-items: center;
    padding-left: 0.5em;
    padding-right: 0.5em;
    padding-bottom: 0.25em;
}

#w-prompt-input {
    background-color: rgb(78, 78, 78);
    color: white;
    padding: 8px;
    font-size: 15px;
    border-radius: 25px;
    width: 100%;

}

#prompt-input-gp {
    flex-grow: 1;
    padding: 10px;
}

#prompt-input {
    background-color: rgb(78, 78, 78);
    color: white;
    padding: 8px;
    font-size: 15px;
    border-radius: 25px;
    width: 100%;

}

.dropdown {
  position: relative;
  padding-top: 5px;
  padding-bottom: 5px;
  padding-left: 10px;
}

/* Style the dropdown button */
.dropbtn {
  background-color: rgb(78, 78, 78);
  color: white;
  padding: 16px;
  font-size: 16px;
  border-radius: 25px;
  border: none;
  cursor: pointer;
}

/* Dropdown content */
.dropdown-content {
  display: none;
  position: absolute;
  bottom: 100%;
  background-color: #f9f9f9;
  min-width: 200px;
  box-shadow: 0px 8px 16px 0px rgba(0,0,0,0.2);
  border-radius: 25px;
}

/* Links inside dropdown content */
.dropdown-content a {
  color: black;
  padding: 12px 16px;
  text-decoration: none;
  display: block;
}

/* Change color of dropdown links on hover */
.dropdown-content a:hover {
  background-color: #f1f1f1;
  border-radius: 25px;
  cursor: pointer;
}

/* Show the dropdown content on hover */
.dropdown:hover .dropdown-content {
  display: block;
}

/* Close the dropdown content*/
/* .close-dropdown-content {
  display: none !important;
} */

/* Change background color of dropdown button on hover */
.dropdown:hover .dropbtn {
  background-color: rgb(115, 115, 115);
}



#submit-btn {
    width: 16px;
    height: 16px;
    padding: 15px;
    background-color: rgb(78, 78, 78);
    border-radius: 25px;
}

#submit-btn::before {
    content: '';
    position: absolute;
    width: 16px;
    height: 16px;
    background-color: red;
    clip-path: polygon(25% 50%, 0 0, 100% 50%, 0 100%);
}

#submit-btn:hover {
    background-color: rgb(115, 115, 115);
    cursor: pointer;
}

#submit-btn:active {
    background-color: rgb(78, 78, 78);
    cursor: pointer;
    transform: scale(0.9);
}

.submit-btn-disabled {
    background-color: rgb(115,115,115) !important;
    cursor: default;
    pointer-events: none;
}

.copy-group {
    position: absolute;
    bottom: -28px;
    left: 20px;
}

.copy-btn {
    border-radius: 5px;
    background-color: rgb(86, 86, 86);
    color: white;
    height: 25px;
}

.copy-btn-tooltip {
    clip-path: polygon(0 50%, 15% 40%, 15% 18%, 100% 18%, 100% 90%, 15% 90%, 15% 60%);
    background-color: white;
    padding: 10px 10px 10px 15px;
}